{% extends "base.html" %}
{% load sekizai_tags %}

{% block extra %}
    {% addtoblock "js" %}
    <script type="text/javascript">
        $(function() {
            $( "#id_start" ).datepicker({
                defaultDate: "-1w",
                changeMonth: true,
                numberOfMonths: 1, dateFormat: "yy-mm-dd", firstDay: 1,
                onClose: function( selectedDate ) {
                $( "#id_end" ).datepicker( "option", "minDate", selectedDate );
                }
            });
            $( "#id_end" ).datepicker({
                defaultDate: "-1w",
                changeMonth: true,
                numberOfMonths: 1, dateFormat: "yy-mm-dd", firstDay: 1,
                onClose: function( selectedDate ) {
                $( "#id_start" ).datepicker( "option", "maxDate", selectedDate );
                }
            });
        });
    </script>
    {% endaddtoblock %}
{% endblock %}
